.btn-black {
  background-color: black;
  border: 1px solid #444;
}

.btn-black:hover {
  background-color: #222;
  color: white;
}

input::placeholder {
  color: #aaa;
}

/* NOVO: Estilo para o item do dropdown de usuário */
.dropdown-menu-dark .dropdown-item:hover {
  background-color: #222; /* Mesma cor do hover do botão "Explorar" */
}