<div class="fixed-top">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between bg-dark py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="assets/icons/orbitalIcon.jpeg" width="70" height="70" class="rounded-circle shadow"
      style="object-fit: cover; margin-left: 10px;" alt="Logo" />
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary text-white">Home</a></li>
      <li><a routerLink="/missions" class="nav-link px-2 link-dark text-white">Missões</a></li>
    </ul>
    <div class="col-md-3 text-end">
      <button routerLink="/login" type="button" class="btn btn-outline-primary me-2">Login</button>
      <button routerLink="/register" type="button" class="btn btn-primary">Cadastre-se</button>
    </div>
  </header>
</div>