<header>
  <div class="p-5 mb-4 rounded shadow bg-body-secondary text-center">
    <div class="mx-auto" style="max-width: 700px;">
      <h1 class="display-4 fw-bold text-dark" style="margin-top: 120px;">
        Orbital
        <span class="d-block fw-light text-muted">Missões espaciais, rastreadas com precisão.</span>
      </h1>
      <p class="lead my-3">
        Acompanhe expedições ativas e explore o legado das missões passadas com uma visão clara e acessível do cosmos.
      </p>
      <a href="#" class="btn btn-space-blue btn-lg mt-3">Comece agora gratuitamente</a>
    </div>
  </div>
</header>

<section class="mission-section py-5 bg-dark text-light">
  <div class="container">
    <h2 class="fw-bold mb-5 text-center">Bem vindo a um novo planeta.</h2>

<div class="mission-texts">
  <div class="mission-item left">
    <p class="mission-text">
      Com uma arquitetura moderna e escalável, o Orbital permite rastrear missões espaciais em tempo real, com precisão e velocidade...
    </p>
    <img src="assets/images/main-page/space-section1.png" alt="Espaço 1">
  </div>

  <div class="mission-item right">
    <p class="mission-text">
      O Orbital traz dados atualizados e filtráveis, permitindo acompanhar o avanço da exploração espacial como nunca antes.
    </p>
    <img src="assets/images/main-page/space-section2.jpg" alt="Espaço 2">
  </div>

  <div class="mission-item left">
    <p class="mission-text">
      Explore a tecnologia de ponta por trás da coleta e análise das missões, garantindo informação confiável e acessível.
    </p>
    <img src="assets/images/main-page/space-section3.avif" alt="Espaço 3">
  </div>

  <div class="mission-item right">
    <p class="mission-text">
      Com visualizações intuitivas e suporte para múltiplas plataformas, oferecemos uma experiência imersiva para entusiastas e especialistas.
    </p>
    <img src="assets/images/main-page/space-section4.avif" alt="Espaço 4">
  </div>
</div>

  </div>
</section>


