main .bg-dark {
  background-color: #000 !important;
}

main .bg-dark h1 {
  color: #fff;
}

main .bg-light {
  background-color: #f8f9fa !important;
  color: #212529;
}

main .bg-light h1 {
  color: #000;
}

.carousel-caption h5,
.carousel-caption p {
  color: #fff;
}

.carousel-caption .btn-outline-light {
  border-color: #bbb;
  color: #bbb;
}

.carousel-caption .btn-outline-light:hover {
  background-color: #222;
  color: #fff;
}

.bg-dark.text-light {
  background-color: #222 !important;
  color: #eee !important;
}

.bg-dark.text-light h4 {
  color: #fff;
}

.bg-dark.text-light p {
  color: #ccc;
}

.bg-dark.text-light .btn-outline-light {
  border-color: #bbb;
  color: #bbb;
}

.bg-dark.text-light .btn-outline-light:hover {
  background-color: #000;
  color: #fff;
}

br {
  display: none;
}
