<br>
<br>
<div class="container">
  <div class="left-side">
    <img src="assets/images/auth/moonLandingLoginPage.jpeg" alt="Register Image" />
  </div>

  <div class="right-side">
    <h1>Cadastre-se</h1>
    <p>Digite os seus dados para criar uma conta.</p>

    <form class="formLogin" (submit)="register(usuario.email, usuario.senha); $event.preventDefault()">
      <label for="email">E-mail</label>
      <input
        autocomplete="on"
        id="email"
        name="email"
        [(ngModel)]="usuario.email"
        type="email"
        placeholder="Digite seu e-mail"
        autofocus
      />

      <label for="password">Senha</label>
      <input
        id="password"
        name="password"
        [(ngModel)]="usuario.senha"
        type="password"
        placeholder="Digite sua senha"
      />

      <button type="submit" class="btn-login">Cadastrar</button> <a routerLink="/login" class="register-link">Fazer login</a>

      </form>
  </div>
</div>
